@charset "UTF-8";
/* CSS Document */

body {
	width: 90%;
	margin:  15px auto;
	font-family: 'Source Sans Pro', sans-serif;
}

/* ---- Header Section ---- */
header h1 {
	text-align: center;
	text-transform: uppercase;
	color:#4CAF50;
	font-size: 2.5em;
	
}

nav {
	background-color: navy;
}

nav ul {
	list-style-type: none;
	text-align: center;
	padding: 1em;
}

nav li {
	display: inline;
	padding: 0px 18px;
}

nav a {
	color: white;
}




/* ---- Main Content Section ---- */
main {
	
}

article {
	margin: 2em .5em;
	width: 60%;
	float: left;
	padding: 0 5%;
}

article img {
	width: 100%; 
	height: auto;
}

article h2 {
	text-align: center;
	color:#4CAF50;
}

article figcaption {
	text-align: center;
	margin: .5em;
}

/* ---- ---- ---- */
aside {
	margin: 2em .5em;
	width: 20%;
	float: right;
	border: 2px solid black;
}

aside img {
	width: 100%; 
	height: auto;
}

aside h3 {
	text-align: center;
	color:#4CAF50;
}

aside figcaption {
	text-align: center;
	margin: .5em;
}

/* ---- Footer Section ---- */

footer {
	clear: both;
	background-color: navy;
	color: white;
	text-align: center;
	padding: 1.5em .5em;
}
footer p {
	display: inline;
	padding-left: .25em;
	padding-right: .25em;
}


/* --------------- Contact Form Page -------------- */
label {
	margin: 5px;
}

input {
	margin: 5px;
}

textarea {
	margin: 5px;
}

#secintro {
	float: left;
	width: 45%;
	padding: 0 10px;
}

#secintro h2 {
	text-align: center;
	color:#4CAF50;
}

#seccontact {
	float: right;
	width: 45%;
	margin-bottom: 1em;

}

.fname {
	float: left;
	width: 45%;
}

form {
	padding: 0 10px;
}

#objective {
	margin: 10px;
}

#typephoto {
	margin: 10px;
}
